.footer__wrapper {
  display: flex;
  justify-content: center;
  padding: 56px 0 72px 0;
  .logo {
    margin: 0 150px 0 0;
  }
}

.footer-navigation {
  display: flex;
}

.footer-navigation__header {
  margin: 0 0 15px 0;
  @include font($size: 2rem, $height: 3rem, $weight: 600);
}

.footer-navigation__links {
  width: 140px;
  margin: 0 120px 0 0;
  padding: 0;
  list-style: none;
}

.footer-navigation__link {
  @extend %secondary-font;
  color: $color-text;
  text-decoration: none;
  line-height: 35px;
}