.tools__wrapper {
  padding: 100px 0 90px 0;
  background: url(../../img/backgrounds/tools-bg.svg) no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

.tools__header {
  margin: 0 auto;
  padding: 0 0 70px;
  text-align: center;
  width: 465px;
}

.tool__icon {
  padding: 0 0 30px 0;
}

.tool__header {
  margin: 0 0 15px;
}

.tool__text {
  margin: 0;
}

.tools__layout-4-column {
  margin: 0 0 60px 0;
}

.tools__button {
  display: block;
  margin: 0 auto;
}